{% extends "OFCoreBundle::layout.html.twig" %}
{% block body %}
 <div class="container">


   <div class="center"><a class="button_square" href="{{path('of_company_add')}}">{{'Add a company'|trans}}</a></div>
    {% for company in user.companies %}
    <ul class="collection with-header elevation1" id="panelCollection">
        <li class="collection-header ">
            <img src="{{ asset(company.getWebLogoPicturePath) }}" alt="" class="circle left" style="height : 50px; width:50px; margin-right:20px; margin-left:0px; margin-top:20px;"> 
            <h4 >{{company.name}}</h4>
            <span class="right" style="margin-top:-60px;" >
                <a class="button_square " href="">{{'Edit the company'|trans}} </a>         <a class="button_square_filled " href="{{path('of_contracts_new_contract', {"idCompany":company.id})}}">Create a contract</a> 
            </span>
        </li>
        {% for contract in company.contracts %}
                <li class="collection-item"><div>Name : {{contract.name}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        {% endfor %}
    </ul>
    {% endfor %}
  
</div>

{% endblock %}