{% trans_default_domain 'FOSUserBundle' %}
{% if not form.profilePictureFile.vars.valid %}
    <script>
        var $toastContent = $('<i class="material-icons left">error</i> {{ form_errors(form.profilePictureFile) }}');
        Materialize.toast($toastContent, 2000, 'deep-orange darken-3 white-text');
    </script>
{% endif %}

<div class="card elevation1 white">
    <div class="panel-heading">
        <i class="material-icons left">person</i>
        <b>
            {{'Editing the profile'|trans|upper}}
        </b>
    </div>
    <div class="panel-body"><br/>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="row">
            <div class="col m6 s12">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.telephone) }}
                {{ form_row(form.bio) }}
            </div>
            <div class="col m6 s12 center">

                {{'Image de profil'|trans}}

                <div class="center-align">
                    {{ form_widget(form.profilePictureFile, {'attr':{'class': 'imgInp'}})}}
                </div>
                <div class="center-align"><br/>

                    <label for="{{form.profilePictureFile.vars.id}}" class="label-file center-align">

                        <img id="blah" src="{{ asset(app.user.getWebProfilePicturePath) }}" style="width:100%;" class="" alt="Image"/>
                        <br/>
                        <div class="middle valign-wrapper center-align">
                            <div class="text">
                                <i class="material-icons">mode edit</i>
                            </div>
                        </div>

                    </label>
                </div>

            </div>
            <div class="row">
                <div class="col s12">
                    {{ form_row(form.current_password) }}
                    <div class="center">{{ form_row(form.save, {attr:{class:'button_square_filled'}}) }}</div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
