{% extends "OFCoreBundle::layout.html.twig" %}
{% block body %}

    <section id="firstSection" class="fullHeight valign-wrapper horizontalCenter ">

   <div id="stripes" aria-hidden="true" style="z-index:0">
    <span></span>
    </div>
            
        <div class="container " style="z-index:100">
        
            <div class="row" >
            
                <div class="col s6" style="margin-top:50px;"> 
                    <h1 >Cybersecurity expertise  for everyone.</h1> 
                    <p id="textHeader">     
                        Splash is helping companies to get their applications secured and functionnal. <br />       
                        Our blockchain establishes a secure link between companies and security experts. <br />
                        
                    </p>
                    <a class="button_square_filled" href="#">Learn more</a>      <a href="{{path('fos_user_security_register')}}" class="button_square">Create an account</a>

                </div>
                <div class="col s6">
                    <img class="right" src="{{asset('images/buildingWebsite.svg')}}" width="80%" style="margin-top:10px;">
                </div>
                
            </div>
        </div>
     <!--<div id="particle-js" style="width:100%; position:absolute; z-index:0;" ></div>-->
    </section>

    

</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{asset('js/particlejs/particles.min.js')}}"></script>
<script>
particlesJS.load('particle-js', "{{asset('js/particlejs/particle.json')}}", function() {
  console.log('callback - particles.js config loaded');
});

$("#top-nav").addClass("nav-white");
</script>
{% endblock %}