{% extends "OFCoreBundle::layout.html.twig" %}
{% block body %}
    <div id="stripesGrey" aria-hidden="true" style="z-index:0" >
        <span></span>
    </div>
    
    <section id="firstSection" class="fullHeight valign-wrapper  horizontalCenter" contract="{{contract.id}}">

        <div class="row">
            <div class="col m5 offset-m1">
                <div class="card elevation1 hoverable_card ">

                    <div class="card_title center">
                        {{contract.name}}
                    </div>

                    <div class="card_comment">
                        <br/>
                        {% if contract.company != NULL %}
                            <img src="{{ asset(contract.company.getWebLogoPicturePath) }}" alt="logo{{contract.company.name}}" class="circle responsive-img left" style="width:40px; margin-right:10px; margin-top:-10px;">
                            <b>{{contract.company.name}}</b><br/>
                        {% endif %}
                        <div class="card_tag right elevation0 {{contract.difficulty}}" style="margin-right:0px;">
                            {{contract.difficulty}}
                        </div>
                        <br/>
                        <b>Description:</b>
                        <br/>
                            {{contract.description}}
                        <br/>
                        <br/>
                        <div class="center" style="font-size:50px;">
                       
                            {{contract.bounty}}
                        </div>
                        <div class="center" style="color:#B2B2B2">{{contract.address[:30]}}..</div>
                    </div><br/>
                </div>

            </div>
            <div class="col m5">
                <div class="card dark elevation1 hoverable_card center" id="testPanel">
                    <div class="card_title center">
                        Did you find the splashcode?
                    </div>
                    <br/>
                     {% if (contract.disabled) %}
                            <div class="errorMessage elevation0" style="text-align:left">
                                        That's sad, someone has already won the bounty :(
                            </div>
                    {% else %}
                    <div class="row" id="testInput">

                        Paste it here and earn
                        {{contract.bounty}}
                        ethereums !
                        <input hidden="hidden" id="address" value="{{contract.address}}">
                        <div class="input-field col s10">
                            <input id="passField" type="text" class="validate">
                        </div>
                        <div class="input-field col s2">
                            <div class="card_button ">
                                <a href="#" class="button_square" style="width:100%" onclick="App.tryPass()">

                                    Try
                                </a>

                            </div>
                        </div>
                    </div>
                     {% endif %}
                    <div id="loadingTestCode" class="row" hidden>
                        <div class="col s12">
                            <div id="etape1" hidden>
                                <img class="" src="{{asset('images/loading.gif')}}" alt="loading" width="30px">
                                Loading the Contract...
                            </div>
                            <div id="etape2" hidden>
                                <i class="material-icons" style="color:#15b776; margin-top:10px;">done</i>
                                Loading the Contract<br/>
                                <img class="" src="{{asset('images/loading.gif')}}" alt="loading" width="30px">
                                Waiting for the transaction...
                            </div>
                            <div id="etape3" hidden="hidden">
                                <i class="material-icons" style="color:#15b776">done</i>Loading the Contract
                                <br/>
                                <i class="material-icons" style="color:#15b776">done</i>Waiting for the transaction
                                <br/>
                                Testing the pass...
                            </div>
                            <div id="etape4" hidden="hidden">
                                <i class="material-icons" style="color:#15b776">done</i>Loading the Contract
                                <br/>
                                <i class="material-icons" style="color:#15b776">done</i>Waiting for the transaction
                                <br/>
                                <i class="material-icons" style="color:#15b776">done</i>Testing the pass<br/>
                                <div class="successMessage" style="text-align:left">
                                    <b>Success</b>
                                    : Congratulations, you will receive the bounty.</div>
                            </div>
                            <div id="etape5" hidden="hidden">
                                <i class="material-icons" style="color:#15b776">done</i>Loading the Contract
                                <br/>
                                <i class="material-icons" style="color:#15b776">done</i>Waiting for the transaction
                                <br/>
                                <i class="material-icons" style="color:#ff5281">close</i>Testing the pass<br/>
                                <br/>
                                <div class="errorMessage" style="text-align:left">
                                    <b>Error</b>
                                    : Wrong splashcode. You should verify your splashcode and
                                    <a style="color:#fff" href="#" onclick="App.resetTry()">
                                        <b>try again</b>
                                    </a>.
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}