{% trans_default_domain 'FOSUserBundle' %}

<div class="col m6 s12  offset-m3" id="enregistrementPanel">
             <div class="divider-new mt-4 mb-5">
            </div>
              <div class="row card elevation1">
                 <a href="{{path('fos_user_security_login')}}" class="col s12 " style="text-align:center; color:#95a5a6" id="linkLogin">{% trans %}Already an account ? Login !{% endtrans %}</a>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                <div class="col s12">
                    {{form_row(form.email, {attr :{'class': 'validate'}})}}
                </div>
                <div class="col m6 s12">
                <div class="row">
                <div class="input-field col s12">
                        <input class="s12  validate" type="text" id="fos_user_registration_form_nom" name="fos_user_registration_form[nom]" required="required" />
                        <label for="fos_user_registration_form[nom]">{{'Nom'|trans}}</label>
                </div></div>
                </div>
                 <div class="col m6 s12">
                 <div class="row">
                <div class="input-field col s12">
                        <input class="form-control validate" type="text" id="fos_user_registration_form_prenom" name="fos_user_registration_form[prenom]" required="required" />
                        <label for="fos_user_registration_form[prenom]">{{'Prénom'|trans}}</label>
                </div></div>
                </div>
                <div class="col s12">
                    {{form_row(form.username, {attr :{'class': 'validate'}})}}
                </div>
               

                <div class="col m6 s12">
                    {{form_row(form.plainPassword.first, {attr :{'class': 'validate'}})}}
                </div>
                
                <div class="col m6 s12">
                    {{form_row(form.plainPassword.second, {attr :{'class': 'validate'}})}}
                </div>

                <div class="col  s12">
                 {% trans %}Curriculum vitae{% endtrans %}:{{ form_row(form.cvFile) }}

                    
                <input type="checkbox" id="test6" required="required" />
                <label for="test6">{% trans %}J'accepte les conditions générales. {% endtrans %}<a href="{{asset('termofuse/termsofuse.pdf')}}" target="_blank">{{'LIRE'|trans}}.</a></label><br />
                <br />
            	</div>
            	{{ form_widget(form._token) }}
                <button type="submit" id="fos_user_registration_form_save" name="fos_user_registration_form[save]" class="col s12 m6 offset-m3 btn" label="S&#039;inscire">{% trans %}S'inscrire{% endtrans %}</button>



                </div>
            </div>
<br />
