{% trans_default_domain 'FOSUserBundle' %}
<div class="col m6 s12 offset-m3 " id="enregistrementPanel">
   
    <h3 class="center">Welcome !</h3>
    <h5 class="center light_dark_font" style="margin-top:-20px;">Create an account</h5>
    <div class="divider-new mt-4 mb-5">
    </div>
    <div class="card elevation1">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="row">
            <div class="col s12">
                <div>
                    <div class="input-field">
                        <label for="fos_user_registration_form[email]">{{'Email address'|trans}}</label>
                        <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="validate" required="required">
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="input-field">
                    <label for="fos_user_registration_form[nom]">{{'Last Name'|trans}}</label>
                    <input class="s12 form-control validate" type="text" id="fos_user_registration_form_nom" name="fos_user_registration_form[nom]" required="required" />
                    
                </div>
            </div>


            <div class="col m6 s12">                    
                <div class="input-field">
                    <label for="fos_user_registration_form[prenom]">{{'First name'|trans}}</label>
                    <input class="form-control validate" type="text" id="fos_user_registration_form_prenom" name="fos_user_registration_form[prenom]" required="required" />
                        
                </div>
            </div>
            <div class="col s12">
                <div class="input-field">
                    <label for="fos_user_registration_form_username" class="required">{{'Username'|trans}}</label>
                    <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}" class="validate">
                </div>
            </div>
        
            <div class="col m6 s12">
                <div class="input-field">
                    <label for="fos_user_registration_form_plainPassword_first" class="required">{{'Password'|trans}}</label>
                    <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password" class="validate">
                </div>
            </div>
            <div class="col m6 s12">
                <div class="input-field">
                        <label for="fos_user_registration_form_plainPassword_second" class="required">Confirm your password</label>
                        <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password" class="validate">
                </div>
            </div>
        </div>

        {{ form_widget(form._token) }}
        <br />
        <div class="center">
            <input type="submit" id="fos_user_registration_form_save" name="fos_user_registration_form[save]" class="btn-round-input white waves-effect waves-light gradientGreen" label="{{'Register'|trans}}"/>

            </div>

            

        </div>                
            <a href="#" class="col s12 light_dark_font" style="text-align:center;" id="linkLogin">{% trans %}Already an account ? Login !{% endtrans %}</a>
    </div>
    
</div>
<br/>
